# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
dist/
*.egg-info/
.venv/
venv/
env/

# PyInstaller
*.spec
build/
dist/

# IDE
.vscode/
.idea/
*.swp

# User data (شخصی)
user_data/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
